
 <div class="divide80"></div>

<div class="center-heading">
<h1 class="wow animated fadeInDown animated"> RESOURCES </h1>
<span class="center-line"</span>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="heading">Links</h3>
            <p align="left">
              <ul class="circle" id="resources-list">
                <li><%= link_to("台北靈糧堂","http://www.llc.org.tw/")%> </li>
                <li><%= link_to("生命河靈糧堂","http://www.llc.org.tw/")%> </li>
                <li><%= link_to("好消息Good TV電視台","http://www.goodnews.org.tw/")%> </li>
                <li><%= link_to("佳音Love聯播網","http://www.llc.org.tw/")%> </li>
                <li><%= link_to("讚美之泉Stream of Praise","http://www.sop.org/")%> </li>
                <li><%= link_to("有情天音樂","http://www.heaventunes.com/")%> </li>
              </ul
            </p>
        </div>


        <h3 class="heading">軟 體下載</h3>
        <div class="col-md-6">
        	<a href="http://www.atlantabolcc.org/atlantabolcc.org/Program/cesong/cesong_index_ZH.html">
            <img src="assets/cesong_rollover.gif" class="img-responsive" alt="">
            </a>

            <a href="http://www.atlantabolcc.org/atlantabolcc.org/Program/cebible/cebible_index_ZH.html">
            <img src="assets/cebible_rollover.gif" class="img-responsive" alt="">
			</a>        
        </div>
</div>


</div>


 <div class="divide80"></div>