 <div class="divide80"></div>
 <div class="container">
     <div class="row">
     <div class="col-md-6 margin20">
     	<h2> 2014年 </h2>
    	<table class="table table-striped table-bordered table-nonfluid">
        <thead>
            <tr>
                <th>日期</th>
                <th>講員</th>
                <th>主題</th>
                <th>MP3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>04/27</td>
                <td>徐永宙牧師</td>
                <td>阿摩司書，何西阿書，彌迦書——<br> 
					行公義，好憐憫，<br>存謙卑的心與神同行</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140427.mp3",  :target => "_blank" %> </td>
            </tr>
            <tr>
                <td>05/18</td>
                <td>林大中牧師</td>
                <td>看見神蹟奇事就信了</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140518.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td rowspan=7>05/29</td>
                <td rowspan=7 >弟兄姊妹受洗見證</td>
                <td>Lucy Deng</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/Lucy_320.wmv",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>Stephanie Gao</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/Stephanie_320.wmv",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>Juli Morris</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/Juli_320.wmv",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>葉燕珍</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/YenZhenYeh_320.wmv",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>林清清</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/ChinChinLin_320.wmv",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>管玉華</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/YuHua_320.wmv",  :target => "_blank" %></td>
            </tr>
           <tr>
                <td>周維波</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/WeiPoChou_320.wmv",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>06/01</td>
                <td>陳德玉牧師</td>
                <td>大能的勇士，起來爭戰</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140601.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>06/08</td>
                <td>徐永宙牧師</td>
                <td>上帝記得你</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140608.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>06/15</td>
                <td>陳德玉牧師</td>
                <td>禱告是答案</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140615.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>06/22</td>
                <td>徐永宙牧師</td>
                <td>耶利米書 ——當為你所居住之城禱告</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140622.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>06/29</td>
                <td>陳德玉牧師</td>
                <td>牧者的三個提醒</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/2Q/140629.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>07/06</td>
                <td>毛應清弟兄</td>
                <td>約翰福音 —— 人若渴了，<br>可以到我這裡來喝</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140706.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>07/13</td>
                <td>徐永宙牧師</td>
                <td>耶利米書 ——當為你所<br>居住之城禱告</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140727.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>07/20</td>
                <td>陳德玉牧師</td>
                <td>將黑暗推出去</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140720.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>07/27</td>
                <td>徐永宙牧師</td>
                <td>約翰一書 —— 彼此相愛</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140727.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>08/03</td>
                <td>徐永宙牧師</td>
                <td>猶大書 —— 返璞歸真</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140803.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>08/10</td>
                <td>王惠國弟兄</td>
                <td>從讀經到作門徒</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140810.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>08/17</td>
                <td>陳德玉牧師</td>
                <td>挺身昂首</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140817.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>08/24</td>
                <td>陳德玉牧師</td>
                <td>挺身昂首(2) 憑著信心求</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140824.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>08/31</td>
                <td>徐永宙牧師</td>
                <td>哈該書 —— 建殿</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2014/3Q/140831.mp3",  :target => "_blank" %></td>
            </tr>
        </tbody>
    </table>    
    </div>

    <div class="col-md-6">
        	<table class="table table-striped table-bordered table-nonfluid" style="MARGIN-LEFT:60px">
     	<h2 style="MARGIN-LEFT:60px"> 2015年 </h2>
        <thead>
            <tr>
                <th>日期</th>
                <th>講員</th>
                <th>主題</th>
                <th>MP3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01/04</td>
                <td>陳德玉牧師</td>
                <td>2015年三件事</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150104.mp3",  :target => "_blank" %> </td>
            </tr>
            <tr>
                <td>01/11</td>
                <td>陳德玉牧師</td>
                <td>重生</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150111.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>01/18</td>
                <td>陳德玉牧師</td>
                <td>耶穌一來</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150118.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>01/25</td>
                <td>江大強弟兄</td>
                <td>啟示錄與末日</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150125.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>02/01</td>
                <td>陳德玉牧師</td>
                <td>撒但的詭計 一)  說謊</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150201.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>02/08</td>
                <td>陳德玉牧師</td>
                <td>撒但的詭計 二)  控告</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150208.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>02/15</td>
                <td>陳德玉牧師</td>
                <td>撒但的詭計 三) 偷竊</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150215.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>02/22</td>
                <td>張玉明牧師</td>
                <td>化敵為友</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150222.mp3",  :target => "_blank" %></td>
            </tr>
           <tr>
                <td>03/01</td>
                <td>陳德玉牧師</td>
                <td>撒但的詭計 四) 牠裝作光明的天使</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150301.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>03/08</td>
                <td>徐永宙牧師</td>
                <td>撒但的詭計 五)  殺害</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150118.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>03/15</td>
                <td>徐永宙牧師</td>
                <td>撒但的詭計 六) 毀壞</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150215.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>03/22</td>
                <td>徐永宙牧師</td>
                <td>撒但的詭計 七) 懼怕</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150322.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>03/29</td>
                <td>徐永宙牧師</td>
                <td>撒但的詭計 八) 試探</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150329.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/05</td>
                <td>陳德玉牧師</td>
                <td>基督復活了</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150405.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/12</td>
                <td>徐永宙牧師</td>
                <td>建造榮耀的教會</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/1Q/150412.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/17</td>
                <td rowspan=3>Rusty Russell</td>
                <td rowspan=3>十週年特會</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/2Q/150417.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/18</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/2Q/150418.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/19</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/2Q/150419.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/21</td>
                <td>陳德玉牧師</td>
                <td>耶穌一來</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/2Q/150421.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>04/26</td>
                <td>陳德玉牧師</td>
                <td>耶穌一來</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/2Q/150426.mp3",  :target => "_blank" %></td>
            </tr>
            <tr>
                <td>05/03</td>
                <td>陳德玉牧師</td>
                <td>耶穌一來</td>
                <td><%= link_to "收聽","http://atlantabolcc.org/sermon/sermon_mp3/2015/2Q/150503.mp3",  :target => "_blank" %></td>
            </tr>
        </tbody>
    </table>         
        </div>
    </div>
    </div>                 		                      		