<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <title>Atlanta Bread of Life Christian Church</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render 'shared/navigation' %>
 <div id='content'>
    <%= yield %>
 </div>
 
<%= render 'layouts/footer' %>

</html>
